extends ../global-layout

block head
  include includes/admin_head

block content
  div.verticaler
  div.login-form
    form(action='login',method='post')
      input(type="text", name="user" placeholder="username")
      input(type="password", name="pass" placeholder="password")
      input(type="submit", name="login" value="login")
    if message
      div.message #{message}