extends ../layout

block head
  include includes/admin_head

block side
  include includes/admin_menu

block main
  div.admin-title
    | PHOTO SERIES
  div.series-form
    if series_list == "error"
      div.error-message error: failed to get series list, please refresh this page.
    else
      div.series-list
        div.new-series.clearfix
          input#name-series-name(type="text" name="new-series-name" placeholder="new series name")
          input#add-series.series-botton(type="button" name="add" value="ADD")
      if error_message != ""
        div.error-message
          | #{error_message}