extends ../layout

block head
  include includes/admin_head

block side
  include includes/admin_menu

block main
  div.admin-title
    | EDIT PHOTOS
  div.photo-form
    if series == "error"
      div.error-message error: failed to get series list, please refresh this page.
    else
      div.series-title #{series.name}
      div.new-photo
        input(type="text" name="add-photo-url" placeholder="www.domain.com/photo/photo1.jpg")
        input(type="button" name="add-photo" value="ADD NEW PHOTO")
        //input#new-photo(type="file" name="new-photo")
      div.photo-list
        if photo_list
          each photo in photo_list
            div.photo
              image(src="#{photo.url}")
        else
          | no photo in this series yet
      if error_message != ""
        div.error-message
          | #{error_message}