ul
  if list
    each series in list
      if series.is_show
        li(class=(section==locals.makeUrl(series.name))?"selected":"")
          a(href="/photo/#{locals.makeUrl(series.name)}")
            | #{series.name}
  li(class=(section=="bio")?"bio selected":"bio")
    a#bio(href="/bio")
      | BIO