extends global-layout

block head
  include includes/head
  link(rel='stylesheet', href='/stylesheets/front.css')

block content
  div.verticaler
  div.no-data
    | PAGE NOT FOUND
  script(type='text/javascript').
    setTimeout(function () { window.location.replace("/index/"); }, 2000);
