extends layout

block head
  include includes/head
  link(rel='stylesheet', href='/stylesheets/main.css')

block side
  include includes/menu

block main
  if !user_info
    div.error-message
      |Oops! Please try to refresh this page again.<br/>Thanks.
  else
    div.bio-content
      div.bio-title
        | 宛 超凡
      div.bio-contact
        | PHONE: #{user_info.contact.phone} <br/>EMAIL: #{user_info.contact.email} <br/>
      div.bio-info
        | #{user_info.bio}