extends layout

block head
  include includes/head
  script(src='/javascripts/gallery.js')
  link(rel='stylesheet', href='/stylesheets/main.css')

block side
  include includes/menu

block main
  if(user_info.cover_photo_url)
    div.gallery
      div.photo
        div.spin-container
          div#spin
        image(src="#{user_info.cover_photo_url}")
  else
    div.verticaler
    div.no-data
      | NO PHOTO YET