extends global-layout

block content
  div.mobile-menu
  div.side-container
    div#logo
      a#home(href="/index/")
        | Wan Chaofan
    div#side-menu
      block side
  div.main-container
    block main