extends layout

block head
  include includes/head
  script(src='/javascripts/gallery.js')
  link(rel='stylesheet', href='/stylesheets/main.css')

block side
  include includes/menu

block main
  div.verticaler
  div.no-data
    | PROJECT NOT FOUND
  script(type='text/javascript').
    setTimeout(function () { window.location.replace("/photo/"); }, 2000); 