extends layout

block head
  include includes/head
  script(src='/javascripts/gallery.js')
  link(rel='stylesheet', href='/stylesheets/main.css')

block side
  include includes/menu

block main
  if(photo)
    div.gallery
      div.go-left
      div.photo
        div.spin-container
          div#spin
        image(src="#{photo.url}")
        div.photo-count
          span.photo-sort
            |#{photo.photo_sort}
          |  / 
          span.photo-max
            |#{series.photo_count}
      div.go-right
  else
    div.verticaler
    div.no-data
      | NO PHOTO YET