@import 'includes/global'

/*
 * login panel
 */
.login-form
  position: relative
  display: inline-block
  vertical-align: middle
  input[name="user"], input[name="pass"]
    display: block
    width: 180px
    padding: 10px 5px
    margin-bottom: 5px
  input[name="login"]
    width: 194px
    height: 32px
    color: #333
    font-size: 1.5em
    text-transform: uppercase
    margin-top: 5px
  .message
    position: absolute
    width: 100%
    bottom: -20px
    color: #A11
    font-size: 1.3em
    text-align: center
