@import 'includes/global'

/*
 * login panel
 */
.login-form
  position: relative
  display: inline-block
  vertical-align: middle
  input[name="user"], input[name="pass"]
    display: block
    width: 180px
    padding: 10px 5px
    margin-bottom: 5px
  input[name="login"]
    width: 194px
    height: 32px
    color: #333
    font-size: 1.5em
    text-transform: uppercase
    margin-top: 5px
  .message
    position: absolute
    width: 100%
    bottom: -20px
    color: #A11
    font-size: 1.3em
    text-align: center

/*
 * manage panel
 */
.admin-title
  display: inline-block
  margin: 50px 0 50px 0
  font-size: 2em

.error-message
  margin: 15px 0 0 0
  color: #A11
  font-size: 1.2em
  
.info-form
  label
    display:block
    font-size: 1.3em
    padding: 3px 0
    margin-bottom: 5px
  input[type="text"]
    display:block
    width:200px
    height:20px
    margin-bottom: 10px
  textarea
    display:block
    width:500px
    height:300px
    margin-bottom:15px
  input[type="submit"]
    width: 100px
    height:20px
    font-size: 1.3em

.series-list
  width: 700px
  min-width: 400px

.series, .new-series, .edit-series
  position: relative
  display: block
  overflow: hidden
  width: auto
  margin-right: 30px
  margin-bottom: 3px
  span.name
    display: inline-block
  input[type="text"], span.name
    width: 98%
    border: none
    padding: 7px 1%
    font-size: 15px
  input[type="button"]
    position: absolute
    top: 4px
    right: 5px
    display: inline-block
    padding: 4px 5px
    font-size: 1.3em
  input[type="button"].disabled
    background-color: #999
    text-decoration: none
    border: none
    color: #fbfbfb

.series
  input[name="delete"]
    background-color: #A33
    text-decoration: none
    border: none
    color: #fbfbfb
  input[name="show"]
    right: 70px
    background-color: #49D
    text-decoration: none
    border: none
    color: #fbfbfb
  input[name="hide"]
    right: 70px
    background-color: #fbfbfb
    text-decoration: none
    border: solid 1px #49D
    padding: 3px 4px
    color: #49D

.edit-series
  input[name="save"]
    right: 28px
    background-color: #395
    text-decoration: none
    border: none
    color: #fbfbfb
  input[name="cancel"]
    background-color: #AAA
    text-decoration: none
    border: none
    color: #fbfbfb

.new-series
  //border: solid 1px #151
  margin-top: 10px
  input[name="add"]
    background-color: #CB2
    text-decoration: none
    border: none
    color: #fbfbfb
  