@import 'includes/global'

.gallery
  display: block
  //background-color: #FEFEFE
  position: relative
  overflow: hidden
  width: auto
  height: auto !important
  max-height: 100%
  min-height: 100%
  .go-left
    z-index: 0
    float: left
    position: relative
    display: block
    width: 50%
    height: 100%
    cursor: url('/images/icon/chevron-left-outline.svg'), w-resize
  .photo
    z-index: 10
    position: absolute
    //top: 50%
    left: 50%
    transform: translate(-50%, 0)
    -webkit-transform: translate(-50%, 0)
    -ms-transform: translate(-50%, 0)
    overflow: hidden
    height: 100%
    background-color: inherit
    .spin-container
      position: absolute
      display: inline-block
      z-index: -1
      background-color: #CCC
      opacity: 0.6
    img
      width: 100%
      cursor: none
    .photo-count
      position: absolute
      font-size: 12px
      text-align: center
      margin: 5px 0
  .go-right
    z-index:0
    float: right
    position: relative
    display: block
    width: 50%
    height: 100%
    cursor: url('/images/icon/chevron-right-outline.svg'), e-resize
  
/*
 * bio panel
 */
.bio
  max-height:100%
  overflow-y: auto
     
.bio-title
  display: inline-block
  margin: 50px 0 46px 0
  font-family: "Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu
  font-size: 2.4em
  font-weight: 600
  
.bio-contact
  font-size: 1.2em

.bio-info
  max-width: 500px
  margin-top: 30px
  white-space: pre-line
  font-size: 1.2em