@import 'includes/global'

.gallery
  display: block
  background-color: #FEFEFE
  width: auto
  height: auto !important
  max-height 100%
  min-height: 100%
  
/*
 * bio panel
 */
.bio-title
  display: inline-block
  margin: 50px 0 50px 0
  font-family: "Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu
  font-size: 2.4em
  font-weight: 600
  