ul
  li(class=(section=="info")?"selected":"")
    a(href="/admin/info")
      | INFO
  li(class=(section=="photo")?"selected":"")
    a(href="/admin/photo")
      | PHOTO SERIES
  li
    a(href="/admin/logout")
      | LOGOUT