ul
  li(class=(section=="info")?"selected":"")
    a(href="/admin/info")
      | INFO
  li(class=(section=="series")?"selected":"")
    a(href="/admin/series")
      | PHOTO SERIES
  li(class="logout")
    a(href="/admin/logout")
      | LOGOUT