head
  meta(name='viewport' content='initial-scale=1, maximum-scale=1')
  title= title
  script(src='/javascripts/lib/jquery-1.11.1.min.js')
  script(src='/javascripts/admin.js')
  link(rel='stylesheet', href='/stylesheets/admin.css')