$contentFont = "Lucida Grande", Helvetica, Arial, sans-serif

div,p,h1
  margin:0
  padding:0

html,body
  margin:0
  padding:0
  height: 100%
  
body
  text-align: center
  font: 10px $contentFont

.grand-container
  display: inline-block
  width: 100%
  height: 100%
  min-height: 100% !important
  background-color: #FAFAFA
  vertical-align: middle
  .verticaler
    display: inline-block
    vertical-align: middle
    height: 100%