$contentFont = 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, "Microsoft YaHei", STHeiti, "メイリオ", Meiryo, sans-serif
$colorW1 = #FBFBFB
$colorW2 = #C9C9C9
$colorB1 = #0F0F0F
$colorB2 = #2E2E2E

$sideMenuTextColor = $colorW2
$globalMinWidth = 768px
$sideMenuMarginRight = 10px
$sideContainerWidth = 260px + $sideMenuMarginRight
$MainContainerMinWidth = $globalMinWidth - $sideContainerWidth